{#
/**
 * @file
 * Default theme implementation to present a chunk entity.
 *
 * This template is used when viewing a registered chunk's page,
 * e.g., /admin/content/chunk)/123. 123 being the chunk's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 * - chunk: the content entity object
 * - view_mode
 *
 * @see template_preprocess_chunk()
 */
#}

<article {{ attributes }}>
  {{ content }}
</article>
